/*styling for the whole page goes here*/
body {
	font-size: 16px;
	color:black;
	padding: 0;
	margin: 0;
	background:linear-gradient(to right, lightblue,lightgreen)
	
}

/*styling for the page title*/
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color:black;
}

h4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
    background-color: white;
	color: black;
	text-align: end;
	
}

ul {
	text-align: center;
}
p{
	text-align: center;
	font-size: large;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

table, th, td {
	border: dotted black;
}

th, td {
	padding: 15px;
}
.calculator-grid {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px,auto)repeat(5,100px);
}
.calculator-grid >button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid black;
	outline: none;
	background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover{
	background-color: rgba(255, 255, 255, .9);
}
.span-two{
	grid-column: span 2;
}
.output{
	grid-column: 1 / -1;
	background-color: rgba(0,0,0,.75);
	display:flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap:break-word;
	word-break: break-all;
}

.output .previous-operand{
	color:rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.output .current-operand{
	color: white;
	font-size: 2.5rem;
}


footer {
    font-style: italic;
	font-size: 12px;
	text-align: center;
}

