<h3 class="center">
<p>Page by Naked Artsy Rhino</p>
<br/>
<a href="https://webpages.uncc.edu/nreynoso/" target="_blank">Charlotte.edu</a> &#9553;
<a href="https://github.com/nreyn1218" target="_blank">Github</a> &#9553;
<a href="https://nreyn1218.github.io/" target="_blank">Github.io</a> &#9553;
<a href="https://nreyn1218.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a> &#9553;
<a href="https://www.freecodecamp.org/nreynoso" target="_blank">freeCodeCamp</a>
<br/>
<br/>
<br/>
<a target="_blank" class="html-val" href="https://validator.w3.org/check?uri=referer">HTML Validator</a> 
<a target="_blank" class="css-val" href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a>
</h3>